<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Word Count</title>
</head>
<body>
	<div class="container">
		<h2>Your sentence</h2>
		<h1>"{{ user_sentence }}"</h1>
		<h2>contains the word <strong>{{ user_word }}</strong> <span style="color:darkred">{{ total_word_count }}</span> times!</h2>
		<br>
		<h4><a href="/">Count some more words!</a></h4>
	</div>
</body>
</html>