<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<title>Word Count</title>
</head>
<body>
	<div class="container">
		<h1>"{{ user_sentence }}" contains the word "{{ user_word }}" {{ total_word_count }} times!</h1>
	</div>
</body>
</html>